.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}